<!doctype html>
<html>
<head>
    <title>Emergency Fund</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="jumbotron text-center">
      <h1>EMERGENCY BUDGET</h1>
      <h2>Profile Page</h2>
      <img src="img/emergency.png" alt="Emergency Profile Photo">

      <p>Login or Signup:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  </div>

</div>
</body>
</html>
